<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.os.mobile.facebooktoken"
      version="1.0.0">
    <name>Facebook Token</name>
    <description>Send facebook token into the device.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,outsystems,facebook,token</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/FacebookToken.js" name="FacebookToken">
        <clobbers target="cordova.plugins.facebookToken" />
        <clobbers target="plugin.facebookToken" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacebookToken">
                <param name="ios-package" value="FacebookToken" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/FacebookToken.h" />
        <source-file src="src/ios/FacebookToken.m" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FacebookToken">
                <param name="android-package" value="com.os.mobile.facebooktoken.FacebookToken"/>
            </feature>
        </config-file>

        <source-file src="src/android/FacebookToken.java" target-dir="src/com/os/mobile/facebooktoken" />
    </platform>

</plugin>